body{
    background-image: url(../pngtree-chinese-style-simple-and-fresh-bamboo-celebrity-quotes-poster-background-material-image_144744.jpg);
    background-size: cover;
    background-repeat: no-repeat;


  
    justify-content: center;
    align-items: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.card {
    position: relative;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
main > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    border: 5px dashed burlywood ;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    width: auto;
    height: fit-content;
}
span {
    text-align: center;
    padding: 5%;
}

select, button {
    padding: 5px;
}

h1 {
    text-align: center;
    /* padding: 1% 3%; */
    color: black;
}

body > div {
    /* border: 5px solid red; */
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: rgb(63,88,175);
    color: whitesmoke;

}

footer {
    text-align: center;
}